# ignore python bytecode files
*.pyc
*.egg-info

# ignore rdb files
*.rdb

# ignore . hidden files
.DS_Store
.cache/
.cmake/
.conda/
.nv/
.triton/
.pytest_cache/
.bash_history
.bashrc


# ignore directories
data/
language_model/runtime/
model_training/trained_models/