# ignore python bytecode files
*.pyc
*.egg-info

# ignore rdb files
*.rdb

# ignore ds_store files
.DS_Store

.cache/
.conda/
.cursor/
.nv/
.triton/
.cmake/
.bash_history

# training files
model_training/trained_models/